body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
background-color: #cbf5e1;
height: 600px;

}
.feature{
  height: 700px;
}
.card1{
  background-color: bisque;
}
.card2{
  background-color: #cbf5e1;
}
.headcolor1{
  color: #f0b132;
}
.headcolor2{
  color: #2bc47d;
  font: bold;
}
.about{
  background-color: bisque;
  
}
.circleperson{
  height: 250px;
  width: 250px;
  border: 4px solid #2bc47d;
  border-radius: 50%;
}
